@import '../../styles/app';
.v-application .primary--text {
  color: #01040f !important;
  caret-color: #01040f !important;
}
.v-application .align-center {
  justify-content: none !important;
}

.v-textarea textarea[readonly="readonly"] {
  background-color: #01040f;
  color: gray;
}

.theme--light.v-input input, .theme--light.v-input textarea {
  color: rgb(26 25 25 / 87%);
}
.theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active), .theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) > .v-icon, .theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) > .v-btn, .theme--light.v-tabs > .v-tabs-bar .v-tab--disabled {
  color: rgb(113 108 108 / 54%);
}

.theme--light.v-input input, .theme--light.v-input textarea {
  color: #01040f;
}
.employee-list {
  .v-card__title {
    .v-input {
      max-width: 45%;
      @include media-breakpoint-up(md) {
        max-width: 20%;
      }
    }
  }

  .v-data-table {
    .v-text-field > .v-input__control > .v-input__slot {
      &:after, &:before {
        border: none !important;
      }
    }
    .v-data-table__checkbox.v-simple-checkbox {
      .v-icon.mdi-checkbox-marked {
        color: $primary;
      }
    }
  }
}

